pre {
  --code-block-background-color: #374151;
  --code-block-border-radius: 0.375rem;
  --code-block-font-size: 1rem;

  align-items: flex-start;
  border-radius: var(--code-block-border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;

  & .pre-header {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0px;
    overflow-x: scroll;
    position: sticky;
    top: 0px;
    width: 100%;

    & .pre-title {
      background-color: var(--code-block-background-color);
      border-radius: var(--code-block-border-radius);
      font-size: var(--code-block-font-size);
      line-height: 1rem;
      min-width: 100%;
      padding: calc(16px * 0.5) calc(16px * 1);
      text-align: center;
      width: max-content;
    }

    & .wrapper-copy-code {
      align-items: center;
      flex-direction: row;
      display: flex;
      justify-content: flex-end;
      width: 100%;

      & .copy-code {
        background-color: transparent;
        border: none;
        border-radius: var(--code-block-border-radius);
        color: #ffffff;
        font-family: monospace;
        font-size: var(--code-block-font-size);
        line-height: 1rem;
        margin: calc(16px * 0.25);
        padding: calc(16px * 0.5) calc(16px * 1);

        &:hover {
          background-color: #6b7280;
          cursor: pointer;
        }
      }
    }
  }

  & code {
    display: block;
    font-size: var(--code-block-font-size);
    line-height: 1.25rem;
    min-width: 100%;
    overflow-x: scroll;
    padding: calc(16px * 0.5) calc(16px * 1.25);
    text-indent: 0px;
    width: max-content;

    & .line {
      display: inline-block;
      min-width: 100%;
      width: auto;
    }

    & .diff.add {
      background-color: #166534;
      position: relative;

      &:before {
        color: #22c55e;
        content: "+";
        left: -1rem;
        position: absolute;
      }
    }

    & .diff.remove {
      background-color: #991b1b;
      opacity: 0.8;
      position: relative;

      &:before {
        color: #ef4444;
        content: "-";
        left: -1rem;
        position: absolute;
      }
    }
  }
}
