---
import { Image } from "astro:assets";

const year = new Date().getFullYear();
---
<footer id="relume" class="px-[5%] py-12 md:py-18 lg:py-20">
  <div class="container">
    <div
      class="grid grid-cols-1 gap-x-[8vw] gap-y-12 pb-12 md:gap-y-16 md:pb-18 lg:grid-cols-[0.75fr_1fr] lg:gap-y-4 lg:pb-20"
    >
      <div class="flex flex-col">
        <a href="#" class="mb-5 md:mb-6"
          ><img
            src="https://d22po4pjz3o32e.cloudfront.net/logo-image.svg"
            alt="Logo image"
            class="inline-block"
        /></a>
        <p class="mb-5 md:mb-6">
          訂閱我們的電子報，隨時獲取最新功能和更新資訊。
        </p>
        <div class="w-full max-w-md">
          <form
            class="mb-3 grid grid-cols-1 gap-x-4 gap-y-3 sm:grid-cols-[1fr_max-content] md:gap-y-4"
          >
            <div class="relative flex w-full items-center">
              <input
                type="email"
                class="rounded-input flex size-full py-2 align-middle transition-all duration-200 file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:outline-none disabled:cursor-not-allowed disabled:opacity-50 border border-border-primary bg-background-primary min-h-11 px-3"
                id="email"
                placeholder="請輸入您的電子郵件"
                value=""
              />
            </div>
            <button
              class="rounded-button inline-flex gap-3 items-center justify-center whitespace-nowrap transition-all duration-200 ease-in-out disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-none border border-border-primary text-text-primary bg-background-primary px-5 py-2"
              title="訂閱"
            >
              訂閱
            </button>
          </form>
          <p class="text-xs">
            訂閱即表示您同意我們的隱私政策並同意接收更新資訊。
          </p>
        </div>
      </div>
      <div
        class="grid grid-cols-1 items-start gap-y-10 sm:grid-cols-3 sm:gap-x-6 md:gap-x-8 md:gap-y-4"
      >
        <div class="flex flex-col items-start justify-start">
          <h2 class="mb-3 font-semibold md:mb-4">第一欄</h2>
          <ul>
            <li class="py-2 text-sm">
              <a href="#" class="flex items-center gap-3"
                ><span>連結一</span></a
              >
            </li>
            <li class="py-2 text-sm">
              <a href="#" class="flex items-center gap-3"
                ><span>連結二</span></a
              >
            </li>
            <li class="py-2 text-sm">
              <a href="#" class="flex items-center gap-3"
                ><span>連結三</span></a
              >
            </li>
            <li class="py-2 text-sm">
              <a href="#" class="flex items-center gap-3"
                ><span>連結四</span></a
              >
            </li>
            <li class="py-2 text-sm">
              <a href="#" class="flex items-center gap-3"
                ><span>連結五</span></a
              >
            </li>
          </ul>
        </div>
        <div class="flex flex-col items-start justify-start">
          <h2 class="mb-3 font-semibold md:mb-4">第二欄</h2>
          <ul>
            <li class="py-2 text-sm">
              <a href="#" class="flex items-center gap-3"
                ><span>連結六</span></a
              >
            </li>
            <li class="py-2 text-sm">
              <a href="#" class="flex items-center gap-3"
                ><span>連結七</span></a
              >
            </li>
            <li class="py-2 text-sm">
              <a href="#" class="flex items-center gap-3"
                ><span>連結八</span></a
              >
            </li>
            <li class="py-2 text-sm">
              <a href="#" class="flex items-center gap-3"
                ><span>連結九</span></a
              >
            </li>
            <li class="py-2 text-sm">
              <a href="#" class="flex items-center gap-3"
                ><span>連結十</span></a
              >
            </li>
          </ul>
        </div>
        <div class="flex flex-col items-start justify-start">
          <h2 class="mb-3 font-semibold md:mb-4">聯絡方式</h2>
          <ul class="flex flex-col items-start">
            <li class="py-2 text-sm">
              <a href="#" class="flex items-center gap-3"
                > <Image src="/images/linkedin.svg" alt="LinkedIn" width={24} height={24}/><span>LinkedIn</span></a
              >
            </li>
            <li class="py-2 text-sm">
              <a href="#" class="flex items-center gap-3"
                > <Image src="/images/github.svg" alt="GitHub" width={24} height={24} /><span>GitHub</span></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="h-px w-full bg-black"></div>
    <div
      class="flex flex-col-reverse items-start justify-between pt-6 pb-4 text-sm md:flex-row md:items-center md:pt-8 md:pb-0"
    >
    <div>
      <p class="text-xs text-gray-600">
        Design components by <a href="https://www.relume.io?utm_source=referral&referralCode=4d53df99" target="_blank" rel="noopener noreferrer" class="underline">Relume</a>
        · Built with <a href="https://astro.build" target="_blank" rel="noopener noreferrer" class="underline">Astro</a>
      </p>
      <p class="mt-2 md:mt-0">© {year} Sam Chiou. All rights reserved.</p>
    </div>
      <ul
        class="grid grid-flow-row grid-cols-[max-content] justify-center gap-y-4 text-sm md:grid-flow-col md:gap-x-6 md:gap-y-0"
      >
        <li class="underline"><a href="#">隱私政策</a></li>
        <li class="underline"><a href="#">服務條款</a></li>
        <li class="underline"><a href="#">Cookies 設定</a></li>
      </ul>
    </div>
  </div>
</footer>